/* Universal Styles */
@page {
    size: letter, portrait;
}
body {
    font-family: "lato", sans-serif;
    color: black;
    font-size: 1.2rem;
    width: 8.5in;
    height: 11in;
}

h1 {
    margin: 0px 0px;
    padding: 0px 0px;
}

h2 {
    margin: 0px 0px;
    padding: 0px 0px;
}

h3 {
    margin: 0px 0px;
    padding: 0px 0px;
    font-size: 1.4rem;
}

h4 {
    margin: 0px 0px;
    padding: 0px 0px;
    font-size: 1.5rem;
}

p {
    margin: 0px 0px;
    padding: 0px 0px;
}


/* Header style; name and contact info */
.info {
    max-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem 2rem 5rem;
}

.info .name h1 {
    font-size: 4rem;
    font-family: "Marcellus", serif;
    color: #307489;
}

.info .contact {
    padding-top: 1.5rem;
}
.info .contact h4 {
    font-size: 1.2rem;
    font-weight: normal;
}



/* content style; experience, edu and skills */
.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content h4 { /*the section headers*/
    height: 1.5rem;
    margin-top: .5rem;  
    margin-left: 0px;
    font-size: 1.5rem; 
}

.content .experience {
    padding: 0rem 1rem 0rem 3rem;
    max-width: 80%;
}

.content .experience h4 {
}

.content .experience .listing {
    padding-top: .7rem;
}

.content .experience .listing .company-data {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.content .experience .company {
    font-size: 1.25rem;
    line-height: 1rem;
}

.content .experience .location {
    font-size: 1.12rem;
    line-height: 1rem;
}

.content .experience .all-roles {
    margin-left: .5rem;
}

.content .experience .role-data {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.content .experience .role {
    font-size: 1.12rem;
    line-height: 1rem;
    padding-left: .5rem;
}

.content .experience .dates {
    font-size: 1.12rem;
    line-height: 1rem;
}

.content .experience .responsibilities {
    margin-top: 0px;
    margin-bottom: 1rem;

}

.content .sidebar {
    min-width: 30%;
    max-width: 30%;
    max-height: 100%;
    padding: 1rem 1rem;
    list-style: none;
    background-color: #307489;
    border-radius: 1rem;
    color: #F7F0F0;
}

.content .sidebar a {
    color: #F7F0F0;
}

.content .contact {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: thin solid #F7F0F0;
}

.content .contact .contact-info{
    list-style: none;
    padding-left: .9rem;
}

.content .skills {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: thin solid #F7F0F0;
}

.content .skills h4 {
    padding-bottom: 1rem;
}

.content .skills-list p {
    margin-left: 2rem;

}

.content .education h4 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.content .education h3 {
    font-size: 1.25rem;
}

.content .education .certifications {
    padding-bottom: 1.5rem;

}

#CA-link {
    padding-bottom: .5rem;
}

.content .education .certifications .CA {
    margin-left: 2rem;
}

.education ul {
    list-style: none;
}

.content .education .university {
    padding-bottom: .7rem;
}

.education #degree {
    margin-top: .5rem;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
}

.education #degree .BA {
    margin-left: 2rem;
    
}

.content .sidebar .summary h4 {
    padding-bottom: .7rem;
    padding-top: .7rem;
}
.content .sidebar .summary p {
    max-width: 100%;
}





