/* Universal Styles */
@page {
    size: letter, portrait;
}
body {
    font-family: "lato", sans-serif;
    color: black;
    font-size: 1rem;
    width: 8.5in;
    height: 11in;
}

.info {
    max-height: 5rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.info .name h1 {
    font-size: 4rem;
    font-family: "Marcellus", serif;
}

.info .contact {
    justify-self: right;
}

.content {
    display: flex;

}

.content .experience {

}

.content .skills {

}

